{{/*  https://www.netlify.com/blog/2018/07/24/hugo-tips-how-to-create-author-pages/?utm_campaign=tool&utm_medium=website&utm_source=thenewdynamic.org  */}}

<h1>Authors</h1>

<ul>
    {{ range .Data.Pages }}
        <li><a href="{{ .Permalink }}">{{ .Params.name }}</a></li>
    {{ end }}
</ul>
