<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{/*  SECTION: Site Title
    ======================================================================= */}}

    {{/*  The Site's title, and if there is a page title, that is set too, except on the home page  */}}
    <title>
        {{ block "title" . }}
        {{ if not .IsHome }}
        {{ .Title }} | {{ .Site.Title }}
        {{ else }}
        {{ .Site.Title }}
        {{ end }}
        {{ end }}
    </title>

    {{/*  End: Site Title  */}}


    {{/*  SECTION: Description
    =======================================================================  */}}

    {{/*  Short description of the page (limit to 150 characters)  */}}
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}"/>

    {{/*  End: Description  */}}


    {{/*  SECTION: Hugo Generator
    =======================================================================  */}}

    {{ .Hugo.Generator }}

    {{/*  End: Hugo Generator  */}}


    {{/*  SECTION: Keywords
    =======================================================================  */}}

    {{/* NOTE: Meta tag for keywords is no longer recommended
        https://github.com/joshbuchea/HEAD
        https://github.com/jekyll/jekyll-seo-tag */}}

    {{/*  End: Keywords  */}}


    {{/*  SECTION: mobile, prefetch, robots, author
    =======================================================================  */}}

    {{ if not .Site.IsServer }}
        {{ partial "mobile.html" . }}
        {{ partial "prefetch.html" . }}
        {{ partial "google/robotsGooglebot.html" . }}
    {{ end }}

    {{/*  End: mobile, prefetch, robots, author  */}}


    {{/*  SECTION: Author
    =======================================================================  */}}

    {{/*  Undocumented Facebook feature parses author name for social sharing  */}}
    {{ if .Params.author }}
        <meta name="author" content="{{ .Params.author }}">
    {{ else }}
        <meta name="author" content="{{ .Site.Params.author }}">
    {{ end }}

    {{/*  End: Author  */}}


    {{/*  SECTION: Content Language
    =======================================================================  */}}

    <meta name="content-language" content="{{ if isset .Params "language" }}{{ .Params.language }}{{ else }}{{ $.Site.LanguageCode | default "en" }}{{ end }}">

    {{/*  End: Content Language  */}}


    {{/*  SECTION: Icons https://realfavicongenerator.net/
    =======================================================================  */}}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {{/*  End: Icons https://realfavicongenerator.net/  */}}


    {{/*  SECTION: RSS
    =======================================================================  */}}

    {{ if .RSSLink }}
        <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{/*  End: RSS  */}}


    {{/*  SECTION: Previous / Next
    =======================================================================  */}}

    {{ with .Params.prev }}
        <link rel="prev" href="{{ . | absURL }}">
    {{ end }}
    {{ with .Params.next }}
        <link rel="next" href="{{ . | absURL }}">
    {{ end }}

    {{/*  End: Previous / Next  */}}


    {{/*  SECTION: CSS
    =======================================================================  */}}

    {{ partial "css.html" . }}

    {{/*  End: CSS  */}}


    {{/*  SECTION: Debug CSS
    =======================================================================  */}}

    {{ if .Site.Params.debugCSS }}
        {{ $debug := resources.Get "scss/vendors/debug.css" }}
        <link rel="stylesheet" href="{{ $debug.Permalink | absURL }}" media="screen">
    {{ end }}

    {{/*  End: Debug CSS  */}}


    {{/*  SECTION: Cookie Hinweis
    =======================================================================  */}}

    {{/*  See './layouts/partials/privacy/cookie-hinweis-script.md'  */}}
    {{ if and (or (eq .Site.Params.env "PUBLIC") (eq .Site.Params.env "STAGE")) (.IsHome) }}
        {{ partial "privacy/cookieBottomRight.html" . }}
    {{ end }}

    {{/*  End: Cookie Hinweis  */}}


    {{/*  SECTION: Production Elements
    =======================================================================  */}}

    {{ if eq .Site.Params.env "PUBLIC" }}
        {{ partial "productionElements.html" . }}
    {{ end }}

    {{/*  End: Production Elements  */}}

</head>

{{/*  SECTION: Scratch Body Classes
=======================================================================  */}}

{{ $bodyclass := .Page.Params.bodyclass }}

{{ .Scratch.Add "classes" (slice "page") }}

{{ if $bodyclass }}
    {{ .Scratch.Add "classes" (slice $bodyclass) }}
{{ end }}

{{ if .IsHome }}
    {{ .Scratch.Add "classes" (slice "lm-home") }}
{{ else }}
    {{ .Scratch.Add "classes" (slice "lm-page") }}
{{ end }}

{{ if in .RelPermalink "beitrag" }}
    {{ .Scratch.Add "classes" (slice "lm-post") }}
{{ end }}

{{/*  End: Scratch Body Classes  */}}


{{/*  SECTION: Body
=======================================================================  */}}

<body id="top" class='{{ delimit (.Scratch.Get "classes") " " }}'>


    {{/*  SECTION: Scratch for Site
    =======================================================================  */}}

    {{/*  Used for map and footer  */}}
    {{ .Scratch.Set "class" "text-large" }}

    {{/*  End: Scratch for Site  */}}


    {{/*  SECTION: Block Header
    =======================================================================  */}}

    {{/*  NOTE: No '.container' because the header shall expand to the viewport  */}}
    <section class="section">
        {{ block "header" . }}
            {{ partial "footer-header/header.html" . }}
        {{ end }}
    </section>

    {{/*  End: Block Header  */}}


    {{/*  SECTION: Block Main
    =======================================================================  */}}

    <section class="section">
        <div class="container">
            {{ block "main" . }}
                {{/*  Content comes from template with 'define main'  */}}
            {{ end }}
            {{ block "elements" . }}
                {{ partial "elements.html" . }}
            {{ end }}
        </div>
    </section>

    {{/*  End: Block Main  */}}


    {{/*  SECTION: Categories, Tags, Series
    =======================================================================  */}}

    {{/*  If all three paramteres are set  */}}
    {{ if and (isset .Params "categories") (isset .Params "tags") (isset .Params "series") }}

            {{ partial "termsAll.html" . }}

    {{/*  If 'categories' is set  */}}
    {{ else if isset .Params "categories" }}

            {{ partial "termsCategories.html" . }}

    {{/*  If 'tags' is set  */}}
    {{ else if isset .Params "tags" }}

            {{ partial "termsTags.html" . }}

    {{/*  If nothing is set  */}}
    {{ else }}

            {{/*  Do nothing  */}}

    {{ end }}

    {{/*  End: Categories, Tags, Series  */}}


    {{/*  SECTION: Block Footer
    =======================================================================  */}}

    {{/* NOTE: 'section' and 'container' are not set because the backgroundcolor
        shall expand across the whole viewport. */}}
    {{ block "footer" . }}
        {{ partial "footer-header/footer.html" . }}
    {{ end }}

    {{/*  End: Block Footer  */}}


    {{/*  SECTION: Block Foot
    =======================================================================  */}}

    <section class="section">
        <div class="container">
            {{ partial "footer-header/foot.html" . }}
        </div>
    </section>

    {{/*  End: Block Foot  */}}


    {{/*  SECTION: JavaScript
    =======================================================================  */}}

    {{ partial "js.html" . }}

    {{/*  End: JavaScript  */}}


    {{/*  SECTION: Add Scripts
    =======================================================================  */}}

    {{ block "addscripts" . }}
        {{/*  for adding additional scripts based on page template  */}}
    {{ end }}

    {{/*  End: Add Scripts  */}}

</body>
</html>
