<link rel="dns-prefetch" href="//www.google-analytics.com">

{{ if not .IsHome }}
    <link rel="prerender" href="{{ .Site.BaseURL | absURL }}">
{{ end }}

{{ if .IsPage }}
    {{ if .NextInSection }}
        <link rel="prefetch" href="{{ .NextInSection.Permalink }}">
    {{ end }}

    {{ if .PrevInSection }}
        <link rel="prefetch" href="{{ .PrevInSection.Permalink }}">
    {{ end }}
{{ end }}
